<h1>지금 있는 조합들</h1>
<div>
    <p>베이스</p>
        <%= image_tag "base.jpg" %>
        <%= @base %>
    <p>재료</p>
        <p><%= @sel_ing %></p>
        <p><%= @sel3_ing %></p>
        <p><%= @numbers %></p>
        <%= image_tag @img_ing %>
</div>
<div>
    <a href="/home/recp"><p>레시피 만들기</p></a>
</div>
<p></p>
